#loginSection {
    position: absolute;
    width: 894px;
    height: 900px;
    margin-left: -52px;
    margin-top: -10px;
    background: #FFFFFF;
    box-shadow: 4px 0px 26px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

#loginForm {
    display:flex;
    flex-direction: column;
    margin-left: 152px;
    margin-top: 180px;
    margin-bottom: 17px;
}

.loginInput {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 10px;
    width: 530px;
    height: 45px;
    margin-bottom: 17px;
    padding: 10px;
}

#loginBtn {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1C477F;
    width: 533px;
    height: 45px;
    background: #DBFF8D;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}



#title {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 5px;
    font-size: 32px;
    line-height: 42px;
    color: #1C477F;
}

#loginQuestion {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1C477F;
    margin-left: 160px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

#logoImg {
    position: fixed;
    width: 239px;
    height: 71px;
    margin-left: 152px;
    margin-top: 102px;
}

#animalImg {
    position: absolute;
    width: 601px;
    height: 890px;
    margin-left: 839px;
    margin-top: 0px;
}

