
#logoImg {
    position: absolute;
    width: 127.48px;
    height: 38px;
    left: 60px;
    top: 44px;
}

#subtitle {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 5px;
    font-size: 28px;
    line-height: 42px;
    color: #1C477F;
   
    position: absolute;
    width: 126px;
    height: 36px;
    left: 60px;
    top: 137px;

}

#addBtn {

    position: absolute;
    width: 40px;
    height: 42px;
    left: 61px;
    top: 280px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border-radius: 5px;

}

#subtitle2 {

    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 5px;
    font-size: 28px;
    line-height: 36px;
    color: #1C477F;

    position: absolute;
    width: 137px;
    height: 36px;
    left: 60px;
    top: 459px;

}

#addBtn2 {

    position: absolute;
    width: 40px;
    height: 42px;
    left: 61px;
    top: 598px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border-radius: 5px;

}