
#logoImg {
    position: absolute;
    width: 127.48px;
    height: 38px;
    left: 60px;
    top: 44px;
}

#subtitle {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 5px;
    font-size: 28px;
    line-height: 42px;
    color: #1C477F;
    position: absolute;
    width: 126px;
    height: 36px;
    left: 60px;
    top: 137px;
}

#addBtn {
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: x-large;
    color: #1C477F;
    position: absolute;
    width: 40px;
    height: 42px;
    left: 61px;
    top: 280px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border-radius: 5px;
    border: rgba(255, 255, 255, 0);
}



#addBtn2 {
    display: inline-block;
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: x-large;
    color: #1C477F;
    position: absolute;
    width: 40px;
    height: 42px;
    left: 61px;
    top: 598px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border-radius: 5px;
    border: rgba(255, 255, 255, 0);
}

.cards {

    font-family: Airbnb Cereal App;
    font-style: normal;
    display:inline-flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    padding: 1em;
    border-radius: 10px;
    height: 205px;
    width: 200px;
    margin-top: 185px;
    margin-left: 110px;
    border: rgba(255, 255, 255, 0);
}

.infoCard {

    font-family: Airbnb Cereal App;
    font-style: normal;
    
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    padding: 1em;
    border-radius: 10px;
    height: 205px;
    width: 250px;
    margin-top: 0px;
    margin-left: 0px;
    border: rgba(255, 255, 255, 0);
}

.editCard {

    font-family: Airbnb Cereal App;
    font-style: normal;
  
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    padding: 1em;
    border-radius: 10px;
    height: 255px;
    width: 250px;
    margin-top: -35px;
    margin-left: 0px;
    border: rgba(255, 255, 255, 0);
}

.closePBtn {
    
    font-weight: 800;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: #1C477F;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.301);
    padding: 10px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
    margin-right: 0;
    margin-top: -50px;
}

.closePBtn1 {
    
    position: absolute;
    margin-left: 5px;
    margin-top: -200px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color: #1C477F;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.301);
    padding: 10px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
   
}

.color {

    position: absolute;
    width: 90px;
    height: 90px;
    left: 125px;
    top: 220px;
    border-radius: 100px;

    background: #DBFF8D;
}

.petName {

    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
    width: 129px;
    height: 21px;
    color: #1C477F;
}

.pet {

    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
    width: 129px;
    height: 21px;
    color: #1C477F;
}

.age {

    position: absolute;
    color: #1C477F;
    margin-top: 0px;
    margin-left: 50px;
    font-weight: normal;
    line-height: 5px;

    font-size: 16px;

}

.animal {

    position: absolute;
    color: #1C477F;
    margin-top: 18px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;

}

.breed {

    position: absolute;
    color: #1C477F;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;

}

.birth {

    position: absolute;
    color: #1C477F;
    margin-top: 80px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;

}

.conditions {

    position: absolute;
    color: #1C477F;
    margin-top: 110px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;

}

.petName1 {

    display: flex;
    font-family: Airbnb Cereal App;

    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.age1 {

    display: flex;
    font-family: Airbnb Cereal App;

    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.animal1 {

    display: flex;
    font-family: Airbnb Cereal App;

    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.breed1 {

    display: flex;
    font-family: Airbnb Cereal App;
    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.birth1 {

    display: flex;
    font-family: Airbnb Cereal App;

    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.conditions1 {

    display: flex;
    font-family: Airbnb Cereal App;

    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;

}

.saveBtn {

    display:flex;
    flex-direction: row;
    font-size: 18px;
    width: 210px;
    height: 30px;
    position:absolute;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    background-color: #7399BD;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border: rgba(255, 255, 255, 0);

}


.editBtn {

    display:flex;
    flex-direction: row;
    font-size: 18px;
    width: 156px;
    height: 36px;
    position:absolute;
    margin-left: 20px;
    margin-top: 150px;
    color: white;
    background-color: #7399BD;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    border: rgba(255, 255, 255, 0);
}




.hidden {
    visibility: hidden;
    display: none;
}

.color {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 197px;
    top: 300px;
    border-radius: 100px;
    background: #DBFF8D;

}

#subtitle2 {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 5px;
    font-size: 28px;
    line-height: 36px;
    color: #1C477F;
    position: absolute;
    width: 137px;
    height: 36px;
    left: 60px;
    top: 459px;
}

.cardProduct {
    position: relative;
    margin-left: 50px;  
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    padding: 1em;
    border-radius: 10px;
    width: 615px;
    margin-top: 40px;
}

.closeBtn {
    font-family: Airbnb Cereal App;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color: #1C477F;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.301);
    padding: 10px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
    margin-right: 0;
}

.addProTitle {
    font-family: Airbnb Cereal App;
    font-weight: 500;
    color: #1C477F;
}

.addProInput {
    display: flex;
    font-family: Airbnb Cereal App;
    background: #FFFFFF;
    border: 1px solid #1C477F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 368px;
    height: 32px;
    margin-bottom: 10px;
    padding: 5px;
}

.addProductBtn {
    font-family: Airbnb Cereal App;
    font-weight: 300;
    background: #7399BD;
    color: white;
    border: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 10px;
}

#noteInput {
    height: 80px;
}

.checkbox {
    font-family: Airbnb Cereal App;
    margin-bottom: 10px;
}

.boxes {
    margin-left: 30px;
}

#productsSection {
    margin-top: 90px;
    margin-left: 60px;
}

.infoProCard {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.301);
    padding: 1em;
    border-radius: 10px;
    width: 279px;
    margin-left: 50px;
}

.productName {
    font-family: Airbnb Cereal App;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #1C477F;
}

.productInfo {
    font-family: Airbnb Cereal App;
    font-weight: 300;
    font-size: 16px;
    line-height: 10px;
    color: #4B4B4B;
}

.productInd {
    font-family: Airbnb Cereal App;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #1C477F;
}

.days {
    position: relative;
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    color: #6A453B;
    text-align: right;
    margin-top: -50px;
}




